# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads / temp
uploads/
tmp/
temp/

# Database (если есть локальная)
*.sqlite3

# Node (если вдруг есть)
node_modules/

# Build
dist/
build/

# secrets/certs
certs/
*.key
*.pem
*.crt

*.rej
*.orig
*.backup
*.bak
*.before_*
__pycache__/
*.pyc
*.log
.env
.env.*
.venv/
venv/
certs/
*.key
*.pem
*.crt
